/* AppComponent's private CSS styles */
h1 {
  font-size: 1.6em;
  color: #999;
  margin-bottom: 1em;
  margin-top:2em;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin: 10px 10px 10px 0px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-size: 18px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}