<section id="app">
    <div class="container-fluid">
        <div class="container">
            <h1>
                {{ title }}
            </h1>
            <nav>
                <a routerLink="/heroes">Heroes</a>
                <a routerLink="/dashboard">Dashboard</a>
            </nav>
            <router-outlet></router-outlet>
            <app-messages></app-messages>
        </div>
    </div>
</section>