<div class="heroDetails" *ngIf="hero">
    <button (click)="goBack()">Back</button>

    <h2>{{hero.name | uppercase}} Details</h2>
    <div>
        <span>Id: </span>{{hero.id}}
    </div>
    <div>
        <label>Name:
            <input [(ngModel)]="hero.name" placeholder="name">
        </label>
    </div>
    <button (click)="save()">save</button>
</div>