.heroDetails{
    font-size: 18px;
    label, span{
      font-weight: 600;
      color: #607D8B;
      input{
        font-weight: 100;
        color: black;
        padding: 0.2em;
      }
    }
    
   }
  