<section id="hero">
    <div>
        <label>Hero name:
            <input #heroName />
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(heroName.value); heroName.value=''">
            Add
        </button>
    </div>
    <div>
        <ul class="heroList">
            <li *ngFor="let hero of heroes" [class.selected]="hero == selectedHero">
                <a routerLink="/detail/{{hero.id}}">
                    <span class="idSpan">{{hero.id}}</span> 
                    <span class="nameSpan">{{hero.name}}</span> 
                </a>
                <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
            </li>
        </ul>
    </div>
</section>

