/* HeroesComponent's private CSS styles */

.heroList {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
    .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    li {
      cursor: pointer;
      margin: .5em;
      height: 2.5em;
      display: flex;
      position: relative;
      button{
        background-color: grey;
        margin: 0.3em;
        position: absolute;
        right:0px;
      }
    }
    a{
      display: flex;
      background-color: #EEE;
      border-radius: 4px;
      align-items: stretch;
      width: 25em;
      text-decoration: none;
      .idSpan {
        background-color: #607D8B;
        border-radius: 4px 0 0 4px;
        color: black;
      }
      span{
        padding: 0.5em;
      }
      &:hover {
        color: white;
        background-color: #BBD8DC !important;
      }
    }
}
